<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VkTokenGenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A97E67031EA8B2990085E431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A97E67141EA8B2990085E431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A97E671F1EA8B2990085E431</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
